<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/tw.css">
  <link rel="icon" href="/favicon.svg">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  <title>CodeShare</title>
</head>

<body class="h-screen flex flex-col">
  <header class="flex items-center justify-between px-8 py-4 bg-[#151517]">
    <div class="flex items-center gap-2">
      <div class="flex items-center justify-center">
        <img src="/images/code-share-n.webp" alt="CodeShare logo" class="w-12">
      </div>
      <span class="text-lg font-bold text-gray-100">CodeShare</span>
    </div>

    <div class="flex items-center gap-3">
      <div class="h-8">
      </div>
      <span class="text-sm font-medium text-gray-100">Default</span>
    </div>

    <div class="flex items-center gap-3">
      <div class="flex items-center gap-2 px-3 py-2 bg-stone-700 rounded-lg">
        <svg viewBox="0 0 24 24" class="h-4 w-4">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <g clip-path="url(#clip0_1251_98416)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M9 0C5.96243 0 3.5 2.46243 3.5 5.5C3.5 8.53757 5.96243 11 9 11C12.0376 11 14.5 8.53757 14.5 5.5C14.5 2.46243 12.0376 0 9 0ZM5.5 5.5C5.5 3.567 7.067 2 9 2C10.933 2 12.5 3.567 12.5 5.5C12.5 7.433 10.933 9 9 9C7.067 9 5.5 7.433 5.5 5.5Z"
                fill="#00b324"></path>
              <path
                d="M15.5 0C14.9477 0 14.5 0.447715 14.5 1C14.5 1.55228 14.9477 2 15.5 2C17.433 2 19 3.567 19 5.5C19 7.433 17.433 9 15.5 9C14.9477 9 14.5 9.44771 14.5 10C14.5 10.5523 14.9477 11 15.5 11C18.5376 11 21 8.53757 21 5.5C21 2.46243 18.5376 0 15.5 0Z"
                fill="#00b324"></path>
              <path
                d="M19.0837 14.0157C19.3048 13.5096 19.8943 13.2786 20.4004 13.4997C22.5174 14.4246 24 16.538 24 19V21C24 21.5523 23.5523 22 23 22C22.4477 22 22 21.5523 22 21V19C22 17.3613 21.0145 15.9505 19.5996 15.3324C19.0935 15.1113 18.8625 14.5217 19.0837 14.0157Z"
                fill="#00b324"></path>
              <path
                d="M6 13C2.68629 13 0 15.6863 0 19V21C0 21.5523 0.447715 22 1 22C1.55228 22 2 21.5523 2 21V19C2 16.7909 3.79086 15 6 15H12C14.2091 15 16 16.7909 16 19V21C16 21.5523 16.4477 22 17 22C17.5523 22 18 21.5523 18 21V19C18 15.6863 15.3137 13 12 13H6Z"
                fill="#00b324"></path>
            </g>
            <defs>
              <clipPath id="clip0_1251_98416">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </g>
        </svg>
        <span id="users-counter" class="text-sm font-medium text-gray-200">0</span>
        <span class="text-xs text-gray-300">conectados</span>
      </div>

      <button id="download-button"
        class="flex gap-2 p-2 bg-orange-600 hover:bg-orange-700 rounded-lg text-white cursor-pointer">
        <svg viewBox="0 0 24 24" fill="none" class="h-5 w-5">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M15 21H9C6.17157 21 4.75736 21 3.87868 20.1213C3 19.2426 3 17.8284 3 15M21 15C21 17.8284 21 19.2426 20.1213 20.1213C19.8215 20.4211 19.4594 20.6186 19 20.7487"
              stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        Descargar
      </button>
    </div>
  </header>

  <main class="flex-1">
    <div id="editor" class="h-full"></div>
  </main>

  <script src="/js/index.js"></script>
</body>

</html>
