/* Importing fonts */
@font-face {
  font-family: 'firacode';
  src: url('/fonts/firacode.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: dark;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'firacode', sans-serif;
  font-variant-ligatures: normal;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  background-color: #151517;
}

#editor {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  resize: none;
  background-color: #1E1E1E;
  font-family: 'firacode', sans-serif;
  font-variant-ligatures: normal;
}
